
{% extends 'User/userindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" enctype="multipart/form-data" method="post" action="/FST/downloadpost/" >
    {% csrf_token %}
  <table class="table table-striped table-dark">
    <tr>
      <td>Choose finger file:</td>
      <td><input type="file" name="img" class="form-control" id="old_password" required /></td>
    </tr>


    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" class="btn btn-primary" value="Download" /></td>
    </tr>
  </table>
</form>

</body>
{% endblock %}
