{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'User/userindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/FST/upload_post/">
  <table class="table table-bordered table-dark">
    <tr>
      <td>Sno</td>
      <td>File</td>
      <td>Date</td>
      <td>download here</td>
    </tr>
    <tr>
     {% for i in data %}
      <td>&nbsp;{{ forloop.counter }} </td>
{#      <td>{{ i.title }}</td>#}
      <td> {{ i.file}} </td>
      <td>&nbsp;{{ i.date}}</td>
         <td><a href="/FST/download_files/{{ i.id }}">Download</a></td>
         <td><a href="/FST/downloads3/{{ i.id }}">S3 Server</a></td>

    </tr>
      {% endfor %}
  </table>

  <p>&nbsp;</p>
  <p>&nbsp;</p>
</form>
</body>
{% endblock %}
